<br>
<br>
<div class="row">
      
    <div class="col">
        <div class="col-md">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
              <div class="card-header  text-secondary">TOTAL ORDERS</div>
              <div class="card-body  text-secondary">
              <h2 class="card-title">{{total_orders}}</h2>
             
              </div>
          </div>
      </div>
  </div>


    <div class="col">
          <div class="col-md">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header text-danger">PENDING</div>
                <div class="card-body  text-danger">
                <h2 class="card-title">{{peding_order}}</h2>
               
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="col">
        <div class="col-md">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header text-success">DELEIVERED</div>
                <div class="card-body text-success">
                <h2 class="card-title">{{delivered_order}}</h2>
                
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="col">
        <div class="col-md">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header text-primary">OUT OF DELIVERY</div>
                <div class="card-body text-primary">
                <h2 class="card-title">{{Out_of_Delivery}}</h2>
               
                </div>
            </div>
        </div>
    </div>
</div>